.form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form label {
    font-size: 14px;
    margin-bottom: 15px;
  }
  

  .form input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
  }

  .form input[type="number"]:focus {
    outline: none;
    border: 2px solid #007bff;
  }
  
  .form fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .form legend {
    font-size: 16px;
    font-weight: bold;
  }
  
  .form label input[type="radio"] {
    margin-right: 5px;
  }
  
  .form fieldset label {
    margin-bottom: 15px;
  }

  .form button {
    background-color: #ccc;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: #444;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #444;
  }
  